* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

::selection {
    background: color-mix(in srgb, var(--primary-color) 100%, var(--primary-background-color) 30%);
    color: var(--primary-background-color);
}

h1,
h2,
h3,
a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3,
a {
    font-weight: 600;
    font-size: var(--h3-font-size);
}

a {
    text-decoration: none;
    transition: ease .3s opacity;
}

a:hover,
a:active {
    opacity: .4;
}

p {
    font-family: "Shantell Sans", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: var(--p-font-size);
    text-align: start;
}

html {
    min-width: 300px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-background-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 20);
    padding-block: calc(var(--spacing) * 12);
}

section {
    max-width: var(--section-width);
    width: 100%;
    margin: auto;
    z-index: 1;
}

.section-content {
    display: flex;
    flex-direction: column;
}

.no-scroll {
    overflow: hidden;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    width: 100%;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

li {
    list-style: none;
}

.page-background-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -2;
}

.page-background {
    inset: 0;
    position: absolute;
    background: linear-gradient(90deg, transparent, var(--primary-color), transparent);
    mask-image: url("../assets/background-pattern.svg");
    will-change: transform;
}

.about-me-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-large);

    .description {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
        padding: var(--spacing-medium);
        background-color: var(--primary-background-color);
        color: var(--primary-color);
        border: 2px solid var(--border-color);
    }
}

.subtitle {
    margin-bottom: var(--spacing);
    border-bottom: 2px solid var(--border-color);
    color: var(--primary-color);
    text-align: left;
}

.skills-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing);
}

.skills {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-width: 200px;
    height: 200px;
    padding: var(--spacing-medium);
    border: 2px solid var(--border-color);
    color: var(--primary-color);
    transition: .3s ease;
    transition-property: background-color, color, border, transform;
    backdrop-filter: blur(4px);
    z-index: 1;

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }
}

.skills:hover {
    background-color: var(--border-color);
    border: 2px solid var(--third-color);
    color: var(--third-color);
    transform: scale(.98);
}

footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    padding-block: var(--spacing-large);
    background-color: var(--border-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    width: var(--section-width);
    margin: auto;
    color: var(--third-color);

    .start,
    .end {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing);
    }

    a {
        font-size: var(--p-font-size);
        color: inherit;
    }
}

@media (min-width: 700px) {
    .skills {
        height: 250px;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-between;

        .start,
        .end {
            align-items: flex-start;
        }

        .end {
            align-items: flex-end;
        }
    }
}

@media (min-width: 1100px) {
    .skills {
        height: 300px;
    }
}

@media print {
    * {
        box-shadow: none !important;
    }

    .no-print {
        display: none !important;
    }
}